html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align: middle;
}

/* END CSS RESET * * * * * * * * * * * * * * * * END CSS RESET */

a {
    text-decoration: none;
}
a:visited {
    color: rgb(0, 43, 83);
}
li {
    list-style-type: none;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    background-color: rgb(0, 132, 255);
    overflow-x: hidden;
    padding-bottom: 15px;
}
.placeholder {
    width: 90%;
    max-width: 640px;
    height: 0;
    padding-top: 50%;
    margin: 20px auto;
    background-color: rgb(124, 192, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header-container {
    display: flex;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.logo-top {
    position: relative;
    flex: 12;
    font-size: 24px;
    font-family: 'Kodchasan', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.99);
    padding: 15px 0 15px 10px;
}
.nav {
    flex: 16;
}
.nav-ul {
    display: flex;
    height: 100%;
    align-items: flex-end;
}
.nav-li:last-child {
    position: relative;
    text-align: right;
    padding: 5px 10px 20px 0;
}
.nav-li {
    flex: 1;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 10px;
    padding-top: 10px;
}
.nav-a {
    font-family: 'Kodchasan', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 43, 83);
}
.nav-a:hover:not(.hamburger) {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7), -1px -1px 5px rgba(255, 255, 255, 0.7);
    font-size: 16px;
}
.hamburger {
    padding: 7px;
    font-size: 14px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.99);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
}
.hamburger:hover {
    cursor: pointer;
    background-color: rgb(111, 185, 255);
}
.sub-nav-ul {
    position: absolute;
      top: 41px;
      right: -200px;
      box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.7);
}
.sub-nav-a {
    display: block;
    padding: 8px 25px 8px 25px;
    font-size: 20px;
    font-family: 'Kodchasan', sans-serif;
    color: rgb(0, 43, 83);
    text-align: right;
    background-color: rgb(52, 157, 255);
}
.sub-nav-a:hover {
    background-color: rgb(111, 185, 255);
}
.sub-nav-a:first-child {
    padding-top: 15px;
}
.sub-nav-a:last-child {
    padding-bottom: 15px;
}
.rotator-container, .content-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(95, 178, 255);
}
.article-container {
    width: 90%;
    margin: 0 auto;
}
.article-h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: rgb(0, 51, 99);
    color: white;
}
.article-h2 {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    background-color: rgb(188, 222, 255);
}
.article-date {
    display: block;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    padding: 10px;
    background-color: rgb(157, 207, 255);
}
.article-p {
    padding: 20px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 2px;
    background-color: rgb(188, 222, 255);
}
.article-p-bold {
    font-weight: bold;
}
.fish {
    font-weight: bold;
    border-bottom: 2px dashed rgb(133, 133, 133);
}
.fish:hover {
    cursor: pointer;
    color: red;
    border-bottom: 2px dashed red;
}
.cta-button {
    display: block;
    margin: 15px auto;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(17, 199, 0);
    border: transparent;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
}
.cta-button:hover {
    cursor: pointer;
    background-color: rgb(21, 255, 0);
}
.footer-container {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: 'Kodchasan', sans-serif;
}
.logo-bottom {
    margin: 0;
    flex: auto;
    font-size: 26px;
    text-align: center;
}
.copyright {
    flex: auto;
    margin: 0;
    text-align: center;
    font-size: 12px;
    line-height: 26px;
}
.to-top {
    display: block;
    position: fixed;
        bottom: 5px;
        right: 5px;
    font-family: 'Kodchasan', sans-serif;
    font-size: 28px;
    font-weight: bold;
    padding: 7px 12px;
    cursor: pointer;
    transition: 250ms;
    background-color: rgba(0, 0, 0, 0.01);
    color: rgba(0, 0, 0, 0.01);
    z-index: 999;
}
.menu-in {
    animation: menu-in 750ms ease forwards;
}
.menu-out {
    animation: menu-out 750ms ease forwards;
}
.toTopFadeIn {
    animation: toTopFadeIn 750ms ease forwards;
}
.toTopFadeOut {
    animation: toTopFadeOut 750ms ease forwards;
}

@keyframes menu-in {
    from {background-color: rgba(255, 151, 151, 0); right: -200px;}
    to{background-color: rgba(255, 151, 151, 0.99); right: 0;}
}
@keyframes menu-out {
    from {background-color: rgba(255, 151, 151, 0.99); right: 0;}
    to{background-color: rgba(255, 151, 151, 0); right: -200px;}
}
@keyframes toTopFadeIn {
    from { color: rgba(255, 255, 255, 0.01); background-color: rgba(0, 0, 0, 0.01); }
    to { color: rgba(255, 255, 255, 0.99); background-color: rgba(0, 0, 0, 0.99); }
}
@keyframes toTopFadeOut {
    from { color: rgba(255, 255, 255, 0.99); background-color: rgba(0, 0, 0, 0.99); }
    to { color: rgba(255, 255, 255, 0.01); background-color: rgba(0, 0, 0, 0.01); }
}

@media screen and (max-width: 600px) {
    .hide-mobile {
        display: none;
    }
    .logo-top {
        flex: 3;
        font-size: 22px;
    }
    .nav {
        flex: 1;
    }
}
@media screen and (min-width: 600px) {
    .hide-desktop {
        display: none;
    }
}
@media screen and (min-width: 750px) {
    .logo-top {
        flex: 17;
    }
    .logo-bottom {
        text-align: left;
        padding-left: 20px;
    }
    .copyright {
        text-align: right;
        padding-right: 50px;
    }
    .nav {
        flex: 36;
    }
}